.vs/
*.sln
*.user
*.suo
*.dbmdl
*.jfm
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
publish/
appsettings.Development.json
appsettings.json
.idea/
*.sln.iml
*.userprefs
*.publishsettings
*.azurePublish
*.dockerignore
Dockerfile
docker-compose*
.docker/
iisexpress/
*.vspscc
*.log
*.cache
*.pdb
*.mdb
*~ 
/uploads/